<h1>Login</h1>

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="error-notice" style="padding: 5px; color: white; background: #FF0000; font-weight: bold; margin: 10px; display: inline-block">
        {{ flashMessage }}
    </div>
{% endfor %}

{% if userData.username is defined %}
    Hi {{ userData.username }},<br>
    <a href="{{ path('genj_sso_client_logout') }}">Logout</a>
{% else %}
<form method="post" action="{{ path('genj_sso_client_login') }}">
    Username: <input type="text" name="username" size="15" /><br />
    Password: <input type="password" name="password" size="15" /><br />
    <input type="hidden" name="redirectUri" value="{{ redirectUri }}">
    <div>
        <p><input type="submit" value="Login" /></p>
    </div>
</form>
{% endif %}
